*
{
    margin: 0%;
    padding: 0%;
}
body
{
    text-align: center;
}
h1
{
    font-family: sans-serif;
    color: darkcyan;
    font-weight: bolder;
}
#gameboard
{
    border: 2px solid #212121;
}
p
{
    color: rgb(4, 171, 21);
    margin: 10px;
    font-size: x-large;
    font-weight: 600;
    font-family: sans-serif;
}