*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: darkcyan;
}
.container
{
    background-color: aliceblue;
    margin: 80px 0px 0px 220px;
    width: 920px;
    height: 500px;
    border-radius: 20px;
}
.box1 , .box2
{
    width: 460px;
    height: 500px;
    float: left;
}
.box1
{
    background-image: url("https://img.freepik.com/premium-vector/cartoon-meadow-landscape-summer-green-fields-view-spring-lawn-hill-blue-sky-green-grass-fields-landscape-background-illustration-field-grass-meadow-landscape-spring-summer_229548-381.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}
.box2
{
    color: aliceblue;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    background-color:rgb(59, 129, 49);
}
input
{   
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    padding: 20px;
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 10px;
}
h1
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-top: 90px;
}
a , h4
{
    padding-top: 20px;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
button
{
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}