*
{
    margin: 0%;
    padding: 0%;
}
body
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    background-color: #222;
}
.container
{
    padding: 20px;
    max-width: 800px;
    max-height: 450px;
}
img
{
    margin-left: 10px;
    width: 200px;
    height: 300px;
    transform:perspective(800px) rotateY(40deg);
    transition: 0.1s;
    opacity:0.5;
}
img:hover{
    transform:perspective(800px) rotateY(0deg);
    transform: scale(1.3);
    opacity: 1;
    transition: 0.5s;
}
