*
{
    margin: 0%;
    padding: 0%;
}
body
{
    margin: 0%;
    padding: 0%;
}
section
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}