*
{
    margin: 0%;
    padding: 0%;
}
.home
{
    width: 100%;
    height: 720px;
    background-image: url("https://images.wallpapersden.com/image/download/street-4k-black-and-white-photography_bG1uaWiUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button
{
    margin: 20px 0px 0px 40px;
    background-color: transparent;
    color: aliceblue;
    font-size: 22px;
    font-weight: 300;
    font-family: sans-serif;
    animation: nav 2s;
}
@keyframes nav
{
    0%{
        transform: translatex(-1200px);
    }
    90%{
        transform: rotateY(3600deg);
    }
}
#bc
{
    margin: 20px 0px 0px 40px;
    background-color: transparent;
    color: aliceblue;
    font-size: 22px;
    font-weight: 300;
    font-family: sans-serif;
    animation: bc 2s;
}
@keyframes bc
{
    0%{
        transform: translateY(-1200px);
    }
    90%{
        transform: rotateY(3600deg);
    }
}

#b1
{
    margin: 20px 0px 0px 40px;
    background-color: transparent;
    color: aliceblue;
    font-size: 22px;
    font-weight: 300;
    font-family: sans-serif;
    animation: b1 2s;
}
@keyframes b1
{
    0%{
        transform: translatex(1020px);
    }
    90%{
        transform: rotateY(3600deg);
    }
}
