*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 80%;
    height: 80vh;
    background: url("imges/1.jpg") top/cover no-repeat;
    position: relative;
    border: 5px solid rgb(192, 186, 186);
    transition:background 1s ease-in;
}
.btn
{
    width: 100px;
    height: 80px;
    font-size: 40px;
    font-weight: bolder;
    border-radius:20%;
    transition: .5s;
    background-color: rgba(15, 15, 15, 0.4);
    color: rgba(240, 242, 244,0.4);
    cursor: pointer;
}
.btn:hover
{
    background-color: rgba(25, 23, 23, 0.7);
    color: #f0f2f4b3;
}

.btn-left
{
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translateY(-40px);

}
.btn-right
{
    position: absolute;
    top: 50%;
    right:-2%;
    transform: translateY(-40px);
}